.tab-content{
  background-color: #cccccc !important;
}
.card-room-book {
  
    flex-direction: row;
    align-items: center;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
  }
 .card-room-book .card-title-book {
    font-weight: bold;
  }
 .card-room-book img {
    width: 100%;
    display: block;
    transition: var(--mainTransition);
  }
  @media only screen and (max-width: 768px) {
.card-room-book    a {
      display: none;
    }
 .card-room-book   .card-body-book {
      padding: 0.5em 1.2em;
    }
.card-room-book   .card-body-book .card-text-book {
      margin: 0;
    }
 .card-room-book img {
      width: 50%;
    }
  }
  @media only screen and (max-width: 1200px) {
 .card-room-book img {
      width: 40%;
    }
  }

  #signup-step{margin:auto;padding:0;width:53%}
#signup-step li{list-style:none; float:left;padding:5px 10px;border-top:#4596ec 1px solid;border-left:#4596ec 1px solid;border-right:#4596ec 1px solid;border-radius:5px 5px 0 0;}
.active{color:#FFF;}
#signup-step li.active{background-color:#4596ec;}
#signup-form{clear:both;border:1px #4596ec solid;padding:20px;width:50%;margin:auto;}
.demoInputBox{padding: 10px;border: #CDCDCD 1px solid;border-radius: 4px;background-color: #FFF;width: 50%;}
.signup-error{color:#FF0000; padding-left:15px;}
.message { 
	color: #fb4314;
	font-size: 19px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	width: 100%;
}
.btnAction{padding: 5px 10px;background-color: #F00;border: 0;color: #FFF;cursor: pointer; margin-top:15px;}
label{line-height:35px;}

.tLink{
	font-family:tahoma;
	size:12px;
	padding-left:10px;
	text-align:center;
}

.bg {
  width: 100%;
  color: floralwhite;
  background-size: 100% 100%;
  background-position: top center;
  margin: auto
}
.bg p {
  font-size: 14px;
  line-height: 160%;
  margin: 0 0 20px 0;
}
.booking-side-wrapper {
  /* left: 20px;
  width: calc(40% - 10px); */
  padding: 10px;

  background: #4596ec;
}
._booking-side-wrapper{
    /* left: 20px;
  width: calc(40% - 10px); */
  padding: 30px;
  float: right;
  background: #4596ec;
}
body .booking-side-wrapper ul li {
  border-bottom: #fffbfb 1px solid;
}
body .booking-side-wrapper .review ul li {
 border: none; 
}
.bg ul li {
  position: relative;
  font-size: 14px;
  border-bottom: 1px solid;
  border-color: #e8e8e8;
  padding: 12px 0;
  margin: 0;
  line-height: 140%;
}

.booking-side-wrapper ul li {
  color: #fff;
}
body .booking-side-wrapper ul li:last-child {
  border-bottom: none;
}
body .booking-side-wrapper ul li .booking-guests-wrapper, body .booking-side-wrapper ul li .booking-guests-wrapper span {
  color: #fff;
}
.booking-main-wrapper,.guest-information-form{

  background: #4596ec;
  width: calc(100% - 20px);
  padding: 30px;
  float: right;
}
.booking-rooms .booking-room-wrapper {
  border-bottom: #fcfcfc 1px solid;
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
}
.booking-rooms .booking-room-wrapper .booking-room-image {
  float: left;
  width: 40% !important;
 
}
.booking-rooms .booking-room-wrapper .booking-room-image img {
  max-width: 100%;
}
.booking-rooms .booking-room-wrapper .booking-room-content {
  float: right;
  width: calc(60% - 30px);
}
.booking-rooms .booking-room-wrapper .booking-room-content h4 {
  font-size: 20px;
  margin: 0 0 23px 0;
}
.booking-rooms .booking-room-wrapper .booking-room-content h4 a {
  color: #fff;
  text-decoration: none;
}
.booking-rooms .booking-room-wrapper .booking-room-content ul {
  margin: 0 0 23px 0;
}
.booking-rooms .booking-room-wrapper .booking-room-content ul li {
  font-size: 14px;
  color: #fff;
  border-bottom: none;
  padding: 0 0 10px 0;
}

.booking-rooms .booking-room-wrapper .booking-room-content ul li span {
  color: #fcfcfc;
}
.booking-rooms .booking-room-wrapper .booking-room-content ul li:last-child {
  padding: 0;
}
.booking-rooms .booking-room-wrapper .booking-room-content .booking-room-actions .booking-room-price-wrapper {
  float: right;
}
.booking-rooms .booking-room-wrapper .booking-room-content .booking-room-actions .booking-room-price-wrapper .booking-room-price {
  margin: 0;
  color: #fff;
  font-size: 14px;
  text-align: right;
}
.booking-rooms .booking-room-wrapper .booking-room-content .booking-room-actions .booking-room-price-wrapper .booking-room-pricebreakdown {
  font-size: 11px;
  margin: 0;
  text-align: right;
}
.booking-rooms .booking-room-wrapper .booking-room-content .booking-room-actions .booking-room-price-wrapper .booking-room-pricebreakdown a {
  color: #fff;
  text-decoration: none;
}
.booking-rooms .booking-room-wrapper .booking-room-content .booking-room-actions .select_room_button {
  color: #fff;
  border: none;
  font-size: 14px;
  padding: 12px 20px;
  display: block;
  cursor: pointer;
  float: left;
  background-color: black;
  
}
h4.title1:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: floralwhite;
  margin: 20px 0 0 0;
}
.bg
label {
    font-size: 14px;
    margin: 0
0 10px 0;
    display: block;
}
.room-selection-wrapper {
  margin: 0 0 30px 0;
}

.select-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 0 25px 0;
}
.bg select {
  width: 100%;
  font-size: 14px;
  color: #666;
  border: 1px solid;
  border-color: #e8e8e8;
  padding: 11px 12px;
  font-weight: 400;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
.bg input {
  width: 100%;
  font-size: 14px;
  color: #666;
  border: 1px solid;
  border-color: #e8e8e8;
  padding: 11px 12px;
  font-weight: 400;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
.bg ul {
  margin: 0 0 30px 0;
}
.select-wrapper select {
  width: 140%;
  border: none;
  background: #fff;
}
.select-wrapper input {
  width: 140%;
  border: none;
  background: #fff;
}
.select-wrapper i {
  color: #666;
  font-size: 18px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 13px;
  z-index: 1;
}
.room-booking{
  border: #fff 1px solid;
  padding: 30px 20px 20px 20px;
  margin: 0 0 30px 0;
  position: relative;
  display: none;
}
.room-booking p {
  position: absolute;
  top: -10px;
  left: 10px;
  color: #fff;
  padding: 0 10px;
  background: #4596ec;
}
.rv-clearfix {
  zoom: 1;
}
.rv-clearfix:after {
  clear: both;
}
.rv-clearfix:before, .rv-clearfix:after {
  content: "";
  display: table;
}
.guest-2-cols {
  float: left;
  width: calc(50% - 5px);
}
.guest-2-cols+.guest-2-cols {
  float: right;
}
.price-details {
  border: #fcfcfc 1px solid;
  margin: 30px 0;
}

.price-details .deposit-notice {
  color: #fcfcfc;
  background: #4596ec;
  width: 140px;
  margin: -13px auto 0 auto;
  text-align: center;
  font-size: 14px;
}
.price-details .deposit-price {
  margin: 5px 0 40px 0;
}
.price-details .deposit-price, .price-details .total-price {
  font-size: 36px;
  width: 100%;
  text-align: center;
  color: #fff;
  
  
}
.price-details .total-separator {
  background: #fcfcfc;
  border: none;
  height: 1px;
  margin: 0;
}
.price-details .total-notice {
  color: #fcfcfc;
  width: 90px;
  margin: -13px auto 0 auto;
  text-align: center;
  font-size: 14px;
  background: #4596ec;
}
.price-details .total-price {
  margin: 5px 0 10px 0;
}

.price-details .deposit-price, .price-details .total-price {
  font-size: 46px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.price-details .pricebreakdown-button {
  text-align: center;
  border-top: #fcfcfc 1px solid;
  width: 160px;
  margin: 0 auto 20px auto;
  padding: 6px 0;
}
.price-details .pricebreakdown-button a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.pricebreakdown {
  display: none;
}

/* personal details */
.booking-main-wrapper .custom-field-one-half {
  width: calc(50% - 15px);
  margin: 0 15px 10px 0;
  float: left;
}
.desc {
  background-color: #f0edeb;
  margin-top: 5%;
  margin-left: 0;
  margin-right: 50px;
  margin-bottom: 4%
}

div.card.main {
  margin: 0px !important
}

.quantity,
.shipping,
.promocode,
.subtotal,
.cardAndExpire,
.nameAndcvc {
  margin: 5%;
  color: #fcfcfc !important
}


.payment {
  background-color: #f0edeb;
  padding: 3px;
  margin-top: 15%
}

.text1 {
  color: black;
  font-weight: 700
}

.card-footer {
  background-color: black;
  color: white
}

.purchaseLink {
  text-decoration: none
}

.row1 {
  font-size: 12px
}

.row2 {
  font-weight: 600
}

.subRow {
  margin-left: 10%;
  margin-bottom: 2%;
  margin-top: 5%
}

p.cardAndExpireValue,
p.nameAndcvcValue {
  margin: 5%;
  margin-bottom: 10%;
  font-weight: 600
}

.has-error {
  border-color: #cc0000;
  background-color: #ffff99;
}