

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1.125rem;
    --bs-btn-font-weight: 300;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212121;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.135rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(17, 17, 17, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 1px rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color)
}

.btn-check+.btn:hover {
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color)
}

.btn:focus-visible {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow)
}

.btn-check:focus-visible+.btn {
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow)
}

.btn-check:checked+.btn,.btn.active,.btn.show,.btn:first-child:active,:not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color)
}

.btn-check:checked+.btn:focus-visible,.btn.active:focus-visible,.btn.show:focus-visible,.btn:first-child:active:focus-visible,:not(.btn-check)+.btn:active:focus-visible {
    box-shadow: var(--bs-btn-focus-box-shadow)
}

.btn.disabled,.btn:disabled,fieldset:disabled .btn {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity)
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #eb268f;
    --bs-btn-border-color: #eb268f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ed3c9a;
    --bs-btn-hover-border-color: #f593c7;
    --bs-btn-focus-shadow-rgb: 180,151,128;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f593c7;
    --bs-btn-active-border-color: #f593c7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #eb268f;
    --bs-btn-disabled-border-color: #eb268f
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c6c6c;
    --bs-btn-border-color: #6c6c6c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c5c5c;
    --bs-btn-hover-border-color: #565656;
    --bs-btn-focus-shadow-rgb: 130,130,130;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565656;
    --bs-btn-active-border-color: #515151;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c6c6c;
    --bs-btn-disabled-border-color: #6c6c6c
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5ab77b;
    --bs-btn-border-color: #5ab77b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4d9c69;
    --bs-btn-hover-border-color: #489262;
    --bs-btn-focus-shadow-rgb: 115,194,143;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #489262;
    --bs-btn-active-border-color: #44895c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5ab77b;
    --bs-btn-disabled-border-color: #5ab77b
}

.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5eb9f0;
    --bs-btn-border-color: #5eb9f0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #509dcc;
    --bs-btn-hover-border-color: #4b94c0;
    --bs-btn-focus-shadow-rgb: 118,196,242;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4b94c0;
    --bs-btn-active-border-color: #478bb4;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5eb9f0;
    --bs-btn-disabled-border-color: #5eb9f0
}

.btn-warning {
    --bs-btn-color: #fff;
    --bs-btn-bg: #eeb461;
    --bs-btn-border-color: #eeb461;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ca9952;
    --bs-btn-hover-border-color: #be904e;
    --bs-btn-focus-shadow-rgb: 241,191,121;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #be904e;
    --bs-btn-active-border-color: #b38749;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #eeb461;
    --bs-btn-disabled-border-color: #eeb461
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #e35d5d;
    --bs-btn-border-color: #e35d5d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c14f4f;
    --bs-btn-hover-border-color: #b64a4a;
    --bs-btn-focus-shadow-rgb: 231,117,117;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b64a4a;
    --bs-btn-active-border-color: #aa4646;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #e35d5d;
    --bs-btn-disabled-border-color: #e35d5d
}

.btn-light {
    --bs-btn-color: #111;
    --bs-btn-bg: #f8f8f8;
    --bs-btn-border-color: #f8f8f8;
    --bs-btn-hover-color: #111;
    --bs-btn-hover-bg: lightgray;
    --bs-btn-hover-border-color: #c6c6c6;
    --bs-btn-focus-shadow-rgb: 213,213,213;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c6c6c6;
    --bs-btn-active-border-color: #bababa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #111;
    --bs-btn-disabled-bg: #f8f8f8;
    --bs-btn-disabled-border-color: #f8f8f8
}

.btn-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #212121;
    --bs-btn-border-color: #212121;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #424242;
    --bs-btn-hover-border-color: #373737;
    --bs-btn-focus-shadow-rgb: 66,66,66;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d4d4d;
    --bs-btn-active-border-color: #373737;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212121;
    --bs-btn-disabled-border-color: #212121
}

.btn-outline-primary {
    --bs-btn-color: #eb268f;
    --bs-btn-border-color: #eb268f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #eb268f;
    --bs-btn-hover-border-color: #eb268f;
    --bs-btn-focus-shadow-rgb: 167,133,106;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #eb268f;
    --bs-btn-active-border-color: #eb268f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #eb268f;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #eb268f;
    --bs-gradient: none
}

.btn-outline-secondary {
    --bs-btn-color: #6c6c6c;
    --bs-btn-border-color: #6c6c6c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6c6c6c;
    --bs-btn-hover-border-color: #6c6c6c;
    --bs-btn-focus-shadow-rgb: 108,108,108;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6c6c6c;
    --bs-btn-active-border-color: #6c6c6c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #6c6c6c;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c6c6c;
    --bs-gradient: none
}

.btn-outline-success {
    --bs-btn-color: #5ab77b;
    --bs-btn-border-color: #5ab77b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5ab77b;
    --bs-btn-hover-border-color: #5ab77b;
    --bs-btn-focus-shadow-rgb: 90,183,123;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5ab77b;
    --bs-btn-active-border-color: #5ab77b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #5ab77b;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #5ab77b;
    --bs-gradient: none
}

.btn-outline-info {
    --bs-btn-color: #5eb9f0;
    --bs-btn-border-color: #5eb9f0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5eb9f0;
    --bs-btn-hover-border-color: #5eb9f0;
    --bs-btn-focus-shadow-rgb: 94,185,240;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5eb9f0;
    --bs-btn-active-border-color: #5eb9f0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #5eb9f0;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #5eb9f0;
    --bs-gradient: none
}

.btn-outline-warning {
    --bs-btn-color: #eeb461;
    --bs-btn-border-color: #eeb461;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #eeb461;
    --bs-btn-hover-border-color: #eeb461;
    --bs-btn-focus-shadow-rgb: 238,180,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #eeb461;
    --bs-btn-active-border-color: #eeb461;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #eeb461;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #eeb461;
    --bs-gradient: none
}

.btn-outline-danger {
    --bs-btn-color: #e35d5d;
    --bs-btn-border-color: #e35d5d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e35d5d;
    --bs-btn-hover-border-color: #e35d5d;
    --bs-btn-focus-shadow-rgb: 227,93,93;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e35d5d;
    --bs-btn-active-border-color: #e35d5d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #e35d5d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #e35d5d;
    --bs-gradient: none
}

.btn-outline-light {
    --bs-btn-color: #f8f8f8;
    --bs-btn-border-color: #f8f8f8;
    --bs-btn-hover-color: #111;
    --bs-btn-hover-bg: #f8f8f8;
    --bs-btn-hover-border-color: #f8f8f8;
    --bs-btn-focus-shadow-rgb: 248,248,248;
    --bs-btn-active-color: #111;
    --bs-btn-active-bg: #f8f8f8;
    --bs-btn-active-border-color: #f8f8f8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #f8f8f8;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f8f8;
    --bs-gradient: none
}

.btn-outline-dark {
    --bs-btn-color: #212121;
    --bs-btn-border-color: #212121;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #212121;
    --bs-btn-hover-border-color: #212121;
    --bs-btn-focus-shadow-rgb: 33,33,33;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #212121;
    --bs-btn-active-border-color: #212121;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 17, 17, 0.125);
    --bs-btn-disabled-color: #212121;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212121;
    --bs-gradient: none
}

.btn-link {
    --bs-btn-font-weight: 300;
    --bs-btn-color: var(--bs-link-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: var(--bs-link-hover-color);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-color: var(--bs-link-hover-color);
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-color: #6c6c6c;
    --bs-btn-disabled-border-color: transparent;
    --bs-btn-box-shadow: none;
    --bs-btn-focus-shadow-rgb: 180,151,128;
    text-decoration: none
}

.btn-link:focus-visible {
    color: var(--bs-btn-color)
}

.btn-link:hover {
    color: var(--bs-btn-hover-color)
}

.btn-group-lg>.btn,.btn-lg {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: calc(1.265625rem + 0.1875vw);
    --bs-btn-border-radius: 0.135rem
}

@media (min-width: 1200px) {
    .btn-group-lg>.btn,.btn-lg {
        --bs-btn-font-size:1.40625rem
    }
}

.btn-group-sm>.btn,.btn-sm {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.984375rem;
    --bs-btn-border-radius: 0.135rem
}

.btn-outline-light {
    --bs-btn-color: #212121;
    --bs-btn-border-color: #dedede;
    --bs-btn-hover-border-color: #dedede;
    border-color: var(--bs-btn-border-color)
}

.btn-outline-light:hover {
    border-color: var(--bs-btn-hover-border-color)
}

.btn-square {
    width: 2.5995rem;
    height: 2.5995rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0
}

.btn-square.btn-xs {
    width: 1.6345rem;
    height: 1.6345rem
}

.btn-group-sm>.btn-square.btn,.btn-square.btn-sm {
    width: 2.1345rem;
    height: 2.1345rem
}

.btn-group-lg>.btn-square.btn,.btn-square.btn-lg {
    width: 3.2815rem;
    height: 3.2815rem
}

.btn-square.btn-xs {
    font-size: .85rem
}

.btn-video-play {
    --bs-btn-video-play-color: var(--bs-primary);
    --bs-btn-video-play-size: 64px;
    --bs-btn-video-play-size-md: 64px;
    --bs-btn-video-play-size-sm: 48px;
    --bs-btn-video-play-size-lg: 80px;
    --bs-btn-video-play-border-size: 16px;
    --bs-btn-video-play-border-size-md: 16px;
    --bs-btn-video-play-border-size-sm: 12px;
    --bs-btn-video-play-border-size-lg: 20px;
    --bs-btn-video-play-animation: pulse-border 1500ms ease-out infinite;
    --bs-btn-video-play-transition: all 0.35s ease-in-out;
    padding-left: 5px;
    position: relative;
    box-sizing: content-box;
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: calc(var(--bs-btn-video-play-size) + 10px);
    height: calc(var(--bs-btn-video-play-size) + 10px)
}

.btn-video-play:after,.btn-video-play:before {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    content: "";
    display: inline-block;
    width: var(--bs-btn-video-play-size);
    height: var(--bs-btn-video-play-size);
    border-radius: 50%;
    transition: var(--bs-btn-video-play-transition);
    background: var(--bs-btn-video-play-color)
}

.btn-video-play:before {
    animation: var(--bs-btn-video-play-animation)
}

.btn-video-play:hover:after,.btn-video-play:hover:before {
    opacity: .55
}

.btn-video-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: var(--bs-btn-video-play-border-size) solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent
}

.btn-video-play.btn-video-play-sm:after,.btn-video-play.btn-video-play-sm:before {
    width: var(--bs-btn-video-play-size-sm);
    height: var(--bs-btn-video-play-size-sm)
}

.btn-video-play.btn-video-play-sm {
    width: calc(var(--bs-btn-video-play-size-sm) + 4px + 4px);
    height: calc(var(--bs-btn-video-play-size-sm) + 4px + 4px)
}

.btn-video-play.btn-video-play-sm span {
    border-left: var(--bs-btn-video-play-border-size-sm) solid #fff;
    border-top: calc(var(--bs-btn-video-play-border-size-sm) - 4px) solid transparent;
    border-bottom: calc(var(--bs-btn-video-play-border-size-sm) - 4px) solid transparent
}

.btn-video-play.btn-video-play-md:after,.btn-video-play.btn-video-play-md:before {
    width: var(--bs-btn-video-play-size-md);
    height: var(--bs-btn-video-play-size-md)
}

.btn-video-play.btn-video-play-md {
    width: calc(var(--bs-btn-video-play-size-md) + 6px + 4px);
    height: calc(var(--bs-btn-video-play-size-md) + 6px + 4px)
}

.btn-video-play.btn-video-play-md span {
    border-left: var(--bs-btn-video-play-border-size-md) solid #fff;
    border-top: calc(var(--bs-btn-video-play-border-size-md) - 6px) solid transparent;
    border-bottom: calc(var(--bs-btn-video-play-border-size-md) - 6px) solid transparent
}

.btn-video-play.btn-video-play-lg:after,.btn-video-play.btn-video-play-lg:before {
    width: var(--bs-btn-video-play-size-lg);
    height: var(--bs-btn-video-play-size-lg)
}

.btn-video-play.btn-video-play-lg {
    width: calc(var(--bs-btn-video-play-size-lg) + 8px + 4px);
    height: calc(var(--bs-btn-video-play-size-lg) + 8px + 4px)
}

.btn-video-play.btn-video-play-lg span {
    border-left: var(--bs-btn-video-play-border-size-lg) solid #fff;
    border-top: calc(var(--bs-btn-video-play-border-size-lg) - 8px) solid transparent;
    border-bottom: calc(var(--bs-btn-video-play-border-size-lg) - 8px) solid transparent
}