
.rvsc-outer {
    padding: 0!important
}

.rvsc-outer [hidden] {
    display: none!important
}

.rvsc-outer [aria-controls],.rvsc-outer [data-action] {
    cursor: pointer
}

.rvsc-slider {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s
}

.rvsc-slider>.rvsc-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.rvsc-horizontal.rvsc-subpixel {
    white-space: nowrap
}

.rvsc-horizontal.rvsc-subpixel>.rvsc-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal
}

.rvsc-horizontal.rvsc-no-subpixel:after {
    content: '';
    display: table;
    clear: both
}

.rvsc-horizontal.rvsc-no-subpixel>.rvsc-item {
    float: left
}

.rvsc-horizontal.rvsc-carousel.rvsc-no-subpixel>.rvsc-item {
    margin-right: -100%
}

.rvsc-no-calc {
    position: relative;
    left: 0
}

.rvsc-gallery {
    position: relative;
    left: 0;
    min-height: 1px
}

.rvsc-gallery>.rvsc-item {
    position: absolute;
    left: -100%;
    -webkit-transition: transform 0s,opacity 0s;
    -moz-transition: transform 0s,opacity 0s;
    transition: transform 0s,opacity 0s
}

.rvsc-gallery>.rvsc-slide-active {
    position: relative;
    left: auto!important
}

.rvsc-gallery>.rvsc-moving {
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s
}

.rvsc-autowidth {
    display: inline-block
}

.rvsc-lazy-img {
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    transition: opacity .6s;
    opacity: .6
}

.rvsc-lazy-img.rvsc-complete {
    opacity: 1
}

.rvsc-ah {
    -webkit-transition: height 0s;
    -moz-transition: height 0s;
    transition: height 0s
}

.rvsc-ovh {
    overflow: hidden
}

.rvsc-visually-hidden {
    position: absolute;
    left: -10000em
}

.rvsc-transparent {
    opacity: 0;
    visibility: hidden
}

.rvsc-fadeIn {
    opacity: 1;
    z-index: 0
}

.rvsc-fadeOut,.rvsc-normal {
    opacity: 0;
    z-index: -1
}

.rvsc-vpfix {
    white-space: nowrap
}

.rvsc-vpfix>div,.rvsc-vpfix>li {
    display: inline-block
}

.rvsc-t-subp2 {
    margin: 0 auto;
    width: 310px;
    position: relative;
    height: 10px;
    overflow: hidden
}

.rvsc-t-ct {
    width: 2333.3333333%;
    width: -webkit-calc(100% * 70 / 3);
    width: -moz-calc(100% * 70 / 3);
    width: calc(100% * 70 / 3);
    position: absolute;
    right: 0
}

.rvsc-t-ct:after {
    content: '';
    display: table;
    clear: both
}

.rvsc-t-ct>div {
    width: 1.4285714%;
    width: -webkit-calc(100% / 70);
    width: -moz-calc(100% / 70);
    width: calc(100% / 70);
    height: 10px;
    float: left
}

.rvsc-outer {
    position: relative
}

.rvsc-outer .rvsc-controls [data-controls=next],.rvsc-outer .rvsc-controls [data-controls=prev] {
    position: absolute;
    z-index: 2;
    top: 44%;
    transform: translateY(-50%);
    width: 2.6rem;
    height: 2.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--bs-black-rgb),.85);
    color: var(--bs-white);
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-border-radius);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.rvsc-outer .rvsc-controls [data-controls=prev] {
    left: 1.25rem
}

.rvsc-outer .rvsc-controls [data-controls=next] {
    right: 1.25rem
}

.rvsc-outer .rvsc-controls [data-controls=next]:hover,.rvsc-outer .rvsc-controls [data-controls=prev]:hover {
    background-color: rgba(var(--bs-white-rgb),.85);
    color: var(--bs-dark)
}

.rvsc-outer .rvsc-controls [data-controls=next]:disabled,.rvsc-outer .rvsc-controls [data-controls=prev]:disabled {
    background-color: rgba(var(--bs-white-rgb),.25);
    color: rgba(var(--bs-dark-rgb),.55);
    cursor: not-allowed
}

.rvsc-outer .rvsc-nav {
    text-align: center
}

.rvsc-outer .rvsc-nav [data-nav] {
    width: 24px;
    height: 6px;
    margin: 0 3px;
    display: inline-block;
    background-color: rgba(var(--bs-dark-rgb),.15);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

[data-bs-theme=dark] .rvsc-outer .rvsc-nav [data-nav] {
    background-color: rgba(var(--bs-white-rgb),.15)
}

.rvsc-outer .rvsc-nav [data-nav].rvsc-nav-active,.rvsc-outer .rvsc-nav [data-nav]:hover {
    background-color: rgba(var(--bs-danger-rgb ),1)
}


/* figures */


.img-fluid {
    max-width: 100%;
    height: auto
}

.img-thumbnail {
    padding: .25rem;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    max-width: 100%;
    height: auto
}

.figure {
    display: inline-block
}

.figure-img {
    margin-bottom: .5rem;
    line-height: 1
}

.figure-caption {
    font-size: .875em;
    color: var(--bs-secondary-color)
}

figure {
    --bs-figure-image-transition: all 0.35s ease-in-out;
    --bs-figure-image-bg: var(--bs-black-rgb);
    --bs-figure-image-bg-opacity: 0.35;
    --bs-figure-image-bg-static-opacity: 0.55;
    --bs-figure-image-scale: 1.055
}

figure.image-hover-overlay-static {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden
}

figure.image-hover-overlay-static:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: var(--bs-figure-image-transition);
    background: rgba(var(--bs-figure-image-bg),var(--bs-figure-image-bg-static-opacity))
}

figure.image-hover-overlay {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden
}

figure.image-hover-overlay:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: var(--bs-figure-image-transition);
    background: rgba(var(--bs-figure-image-bg),var(--bs-figure-image-bg-opacity));
    opacity: 0
}

figure.image-hover-overlay:hover::after {
    opacity: 1
}

figure.image-hover-scale {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden
}

figure.image-hover-scale img {
    transition: var(--bs-figure-image-transition)
}

figure.image-hover-scale:hover img {
    transform: scale(var(--bs-figure-image-scale))
}

figure .image-hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: var(--bs-figure-image-transition);
    z-index: 2;
    color: #fff
}

figure:hover .image-hover-icon {
    opacity: 1
}

.room-title {
        margin-bottom: var(--bs-card-title-spacer-y);
        color:#212121;
    }
