/* .photo-gallery {
  color:#313437;
  background-color:#eee;
  
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
/* }
 */
 /*.gallery-title {
  font-size: 36px;
  color: #FFA500;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px
}

.gallery-title:after {
  content: "";
  position: absolute;
  width: 22.5%;
  left: 38.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}
#image-gallery{
  top: 10% !important;

}
#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
} */


.gallery{
  min-height: 100vh;
  background:#eee;
  padding-bottom: 100px;
}

.gallery .controls{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:20px 0;
  list-style: none;
}

.gallery .controls .buttons{
  height:40px;
  width: 140px;
  background:#fff;
  color:#666;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  margin:20px;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  text-align: center;
}

.gallery .controls .buttons.active{
  background:#FF4136;
  color:#fff;
}

.gallery .image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery .image-container .image{
  height:250px;
  width: 350px;
  overflow: hidden;
  border:15px solid #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  margin: 20px;
}

.gallery .image-container .image img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.gallery .image-container .image:hover img{
  transform: scale(1.4);
}