
article:after, article:before, aside:after, aside:before, details:after, details:before, div:after, div:before, figcaption:after, figcaption:before, figure:after, figure:before, footer:after, footer:before, header:after, header:before, hgroup:after, hgroup:before, menu:after, menu:before, nav:after, nav:before, section:after, section:before, ul:after, ul:before {
    content: "";
    display: table;
    width: 0;
  }
  .white-text p, .white-text h1, .white-text h2, .white-text h3, .white-text h4, .white-text h5, .white-text h6 {
    color: #fff;
  }
    @media only screen and (min-width: 1200px){
  .gridContainer {
      width: 90%;
  }}
  
  @media only screen and (min-width: 1024px){
  .gridContainer {
      width: 90%;
  }}
  @media only screen and (min-width: 768px){
  .gridContainer {
      width: 90%;
  }}
  .gridContainer {
      max-width: 1232px;
      margin: 0 auto;
      padding-right: 15px;
      padding-left: 15px;
  }
  *, .col-xs, .gridContainer, .row {
      box-sizing: border-box;
  }
    .no-gutter-col {
      padding-left: 0;
      padding-right: 0;
    }
  
    .middle-xs {
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
    }
  
    /* .center-xs {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      text-align: center;
    } */
  
    .flexbox,
    .flexbox-strech {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
    }
  
 
    .flexbox-strech>* {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  }
    .shadow-large {
      box-shadow: 0 10px 30px 0 rgb(189 189 189 / 30%), 0 10px 30px rgb(0 0 0 / 8%);
    }
    .content-col {
      background-color: rgb(10, 119, 245);;
  }
    @media (min-width: 768px){
  .content-col {
      margin-right: -30%;
  }
  .overlap-right-large {
    margin-right: -30%;
}
    }
  .content-section p {
      display: block;
  }
  
  .button:only-child, .comment-author .fn:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
      margin-bottom: 0;
  }
  .p, address, blockquote, dl, fieldset, figure, form, hr, ol, p, pre, table, ul {
      margin-bottom: 16px;
  }
  * {
      margin: 0;
      padding: 0;
      outline: 0;
      -webkit-overflow-scrolling: touch;
  }
  *, .col-xs, .gridContainer, .row {
      box-sizing: border-box;
  }
  @media (min-width: 768px){
  .col-sm-padding-large {
      padding: 1rem 5% 1rem 10%;
  }
  }
  @media only screen and (min-width: 768px){
  .col-sm-6 {
      box-sizing: border-box;
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
      -moz-flex-grow: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      padding-right: 15px;
      padding-left: 15px;
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 80%;
  }
  }