
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        <style type="text/css">
            .ExternalClass {
                width: 100%
            }

            .ExternalClass,
            .ExternalClass p,
            .ExternalClass td,
            .ExternalClass div,
            .ExternalClass span,
            .ExternalClass font {
                line-height: 100%
            }

            @media only screen and (min-width:640px) {
                .hse-section-full-width.hse-section .hse-column-container {
                    max-width: 100% !important;
                    width: 100% !important
                }

                .hse-section-full-width.hse-section .hse-column {
                    max-width: 100% !important;
                    width: 100% !important;
                    display: block !important
                }

                .hse-column-container {
                    max-width: 600px !important;
                    width: 600px !important
                }

                .hse-column {
                    display: table-cell;
                    vertical-align: top
                }

                .hse-section-1-col .hse-column {
                    max-width: 600px !important;
                    width: 600px !important
                }

                .hse-section-2-col .hse-column {
                    max-width: 300px !important;
                    width: 300px !important
                }

                .hse-section-2-col .hse-column.hse-wide {
                    max-width: 400px !important;
                    width: 400px !important
                }

                .hse-section-2-col .hse-column.hse-narrow {
                    max-width: 200px !important;
                    width: 200px !important
                }

                .hse-section-3-col .hse-column {
                    max-width: 200px !important;
                    width: 200px !important
                }

                .hse-section-4-col .hse-column {
                    max-width: 150px !important;
                    width: 150px !important
                }
            }

            @media only screen and (max-width:639px) {

                img.stretch-on-mobile,
                .hs_rss_email_entries_table img {
                    height: auto !important;
                    width: 100% !important
                }

                .display_block_on_small_screens {
                    display: block
                }
            }

        </style>
        <div class="hse-body-background" style="background-color:#eaf0f6" bgcolor="#eaf0f6">
            <table>
                <tbody>
                    <tr>
                        <td class="hse-body-wrapper-td" 
                            style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word">
                            <div id="hs_cos_wrapper_main"
                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_email_flex_area"
                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                data-hs-cos-general-type="widget" data-hs-cos-type="email_flex_area">
                                <div id="section_1559890448031" class="hse-section hse-section-2-col hse-section-first "
                                    style="padding-left:10px; padding-right:10px; padding-top:20px">
                                    <!--[if !((mso)|(IE))]><!-- -->
                                    <div class="hse-column-container "
                                        style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#0c5394; background-image:url(''); background-position:center; background-repeat:repeat; padding-bottom:5px; padding-top:5px"
                                        bgcolor="#0c5394">

                                        <div id="column_1559890448031_0" class="hse-column ">
                                            <div id="hs_cos_wrapper_module_15670793219922"
                                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                                data-hs-cos-general-type="widget" data-hs-cos-type="module">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td 
                                                                style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; line-height:0">
                                                                &nbsp;</td>
                                                            <td 
                                                                style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; line-height:0; border:transparent; border-bottom:8px solid #0C5394; mso-border-bottom-alt:8px solid #0C5394; border-bottom-width:8px">
                                                                &nbsp;</td>
                                                            <td 
                                                                style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; line-height:0">
                                                                &nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                            <div id="hs_cos_wrapper_module_15598904561982"
                                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                                data-hs-cos-general-type="widget" data-hs-cos-type="module">
                                                <table class="hse-image-wrapper" 
                                                    >
                                                    <tbody>
                                                        <tr>
                                                            <td  
                                                                style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; color:#23496d; word-break:break-word; text-align:center; padding:10px 20px; font-size:0px">
                                                                <img alt="Rift Valley Sports Club Nakuru"
                                                                    src="../frontend/assets/images/logo.png"
                                                                    style="outline:none; text-decoration:none; -ms-interpolation-mode:bicubic; max-width:100%; font-size:16px"
                                                                    width="260" >
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div id="column_1567079272093_0" class="hse-column ">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; padding:10px 20px">
                                                            <div id="hs_cos_wrapper_module_15670792815451"
                                                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                data-hs-cos-general-type="widget"
                                                                data-hs-cos-type="module">
                                                                <div id="hs_cos_wrapper_module_15670792815451_"
                                                                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
                                                                    style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                    data-hs-cos-general-type="widget"
                                                                    data-hs-cos-type="rich_text">
                                                                    <p style="margin:0;mso-line-height-rule:exactly; line-height:175%; text-align:right;"
                                                                        ><span
                                                                            style="color: #ffffff;"><strong><a
                                                                                    href="https://rvsc.co.ke"
                                                                                    style="mso-line-height-rule:exactly; color:#ffffff"
                                                                                    rel=" noopener" data-hs-link-id="0"
                                                                                    target="_blank">Explore
                                                                                    Website</a></strong></span></p>
                                                                    <p style="margin:0;mso-line-height-rule:exactly; line-height:175%; text-align:right;"
                                                                        ><span
                                                                            style="color: #ffffff;"><strong><a
                                                                                    href="https://goo.gl/maps/FxauTc7kbJ132Rfe8"
                                                                                    style="mso-line-height-rule:exactly; color:#ffffff"
                                                                                    rel=" noopener" data-hs-link-id="0"
                                                                                    target="_blank">Get Hotel
                                                                                    Directions</a></strong></span></p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <div id="section_1562147686139" class="hse-section hse-section-1-col "
                                    style="padding-left:10px; padding-right:10px">

                                    <div class="hse-column-container "
                                        style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#ffffff; padding-top:10px"
                                        bgcolor="#ffffff">
                                        <div id="column_1562147686139_0" class="hse-column ">
                                            <div id="hs_cos_wrapper_module_15670822937681"
                                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                                data-hs-cos-general-type="widget" data-hs-cos-type="module">
                                                <table class="hse-image-wrapper">
                                                    <tbody>
                                                        <tr>
                                                            <td  
                                                                style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; color:#23496d; word-break:break-word; text-align:center; padding:10px 20px; font-size:0px">
                                                                <img alt="hotel-voucher-image"
                                                                    src="{{asset('frontend/assets/images/entrance.jpg')}}"
                                                                    style="outline:none; text-decoration:none; -ms-interpolation-mode:bicubic; max-width:100%; font-size:16px"
                                                                    width="560" >
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; padding:10px 20px">
                                                            <div id="hs_cos_wrapper_module_15670819020771"
                                                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                data-hs-cos-general-type="widget"
                                                                data-hs-cos-type="module">
                                                                <div id="hs_cos_wrapper_module_15670819020771_"
                                                                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
                                                                    style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                    data-hs-cos-general-type="widget"
                                                                    data-hs-cos-type="rich_text">
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span style="color: #000000;"><strong>Dear
                                                                                {{ $details['last_name'].' '.$details['first_name'] }},</strong></span>
                                                                    </p>
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:100%;">
                                                                        &nbsp;</p>
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span style="color: #000000;">Thank you for
                                                                            choosing Rift Valley Sports Club as your
                                                                            next travel destination. We are committed to
                                                                            provide you with a unique experience. The
                                                                            detailed information below confirms your
                                                                            reservation.</span></p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <div id="section_1562147696995" class="hse-section hse-section-1-col "
                                    style="padding-left:10px; padding-right:10px">

                                    <div class="hse-column-container "
                                        style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#D9EAD3"
                                        bgcolor="#D9EAD3">

                                        <div id="column_1562147696995_0" class="hse-column ">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; padding:10px 20px">
                                                            <div id="hs_cos_wrapper_builtin_module_2_0_0"
                                                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                data-hs-cos-general-type="widget"
                                                                data-hs-cos-type="module">
                                                                <div id="hs_cos_wrapper_builtin_module_2_0_0_"
                                                                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
                                                                    style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                    data-hs-cos-general-type="widget"
                                                                    data-hs-cos-type="rich_text">

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <div id="module_1559901984552" class="hse-section hse-section-1-col "
                                    style="padding-left:10px; padding-right:10px">
                                    <div class="hse-column-container "
                                        style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#ffffff"
                                        bgcolor="#ffffff">

                                        <div id="module_1559901984552_0" class="hse-column ">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; padding:10px 20px">
                                                            <div id="hs_cos_wrapper_module_155990198455226"
                                                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                data-hs-cos-general-type="widget"
                                                                data-hs-cos-type="module">
                                                                <div id="hs_cos_wrapper_module_155990198455226_"
                                                                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
                                                                    style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                    data-hs-cos-general-type="widget"
                                                                    data-hs-cos-type="rich_text">
                                                                    <h2
                                                                        style="margin:0; mso-line-height-rule:exactly; font-size:22px; line-height:175%">
                                                                        <span style="color: #000000;"><strong>Room
                                                                                Details</strong></span></h2>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="builtin_section-5" class="hse-section hse-section-2-col "
                                    style="padding-left:10px; padding-right:10px">

                                    <div class="hse-column-container "
                                        style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#ffffff"
                                        bgcolor="#ffffff">

                                        <div id="builtin_column_5-0" class="hse-column hse-narrow">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; padding:10px 20px">
                                                            <div id="hs_cos_wrapper_module_15615385157202"
                                                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                data-hs-cos-general-type="widget"
                                                                data-hs-cos-type="module">
                                                                <div id="hs_cos_wrapper_module_15615385157202_"
                                                                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
                                                                    style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                    data-hs-cos-general-type="widget"
                                                                    data-hs-cos-type="rich_text">
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span style="color: #000000;"><strong>Full
                                                                                Name:</strong></span></p>
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span style="color: #000000;"><strong>Room
                                                                                Type</strong>:&nbsp;</span></p>

                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span style="color: #000000;"><strong>Number of
                                                                                Guests </strong>:&nbsp;</span></p>

                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span style="color: #000000;"><strong>Check-In
                                                                                Date:&nbsp;</strong></span></p>
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span style="color: #000000;"><strong>Check-Out
                                                                                Date:&nbsp;</strong></span></p>
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span style="color: #000000;"><strong>Special
                                                                                Request:</strong></span></p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div id="column_1561538500018_0" class="hse-column hse-wide">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; padding:10px 20px">
                                                            <div id="hs_cos_wrapper_builtin_module_5_0_0"
                                                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                data-hs-cos-general-type="widget"
                                                                data-hs-cos-type="module">
                                                                <div id="hs_cos_wrapper_builtin_module_5_0_0_"
                                                                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
                                                                    style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                    data-hs-cos-general-type="widget"
                                                                    data-hs-cos-type="rich_text">
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span
                                                                            style="color: #000000;">{{ $details['last_name'].' '.$details['first_name'] }}</span>
                                                                    </p>
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span
                                                                            style="color: #000000;">{{ $details['roomtype'] }}</span>
                                                                    </p>
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span
                                                                            style="color: #000000;">{{ $details['number_guest'] }}</span>
                                                                    </p>

                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span
                                                                            style="color: #000000;">{{$details['check_in']}}</span>
                                                                    </p>
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span
                                                                            style="color: #000000;">{{$details['checkout']}}</span>
                                                                    </p>
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span
                                                                            style="color: #000000;">{{$details['specialrequest']}}</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <div id="module_1559902991513" class="hse-section hse-section-1-col "
                                    style="padding-left:10px; padding-right:10px">

                                    <div class="hse-column-container "
                                        style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#ffffff"
                                        bgcolor="#ffffff">

                                        <div id="module_1559902991513_0" class="hse-column ">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; padding:10px 20px">
                                                            <div id="hs_cos_wrapper_module_155990299151328"
                                                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                data-hs-cos-general-type="widget"
                                                                data-hs-cos-type="module">
                                                                <div id="hs_cos_wrapper_module_155990299151328_"
                                                                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
                                                                    style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                    data-hs-cos-general-type="widget"
                                                                    data-hs-cos-type="rich_text">
                                                                    <h2
                                                                        style="margin:0; mso-line-height-rule:exactly; font-size:22px; line-height:175%">
                                                                        <span style="color: #000000;"><strong>Summary of
                                                                                Charges</strong></span></h2>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <div id="module_1561538826095" class="hse-section hse-section-2-col "
                                    style="padding-left:10px; padding-right:10px">

                                    <div class="hse-column-container "
                                        style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#ffffff; background-image:url(''); background-position:center; background-repeat:repeat"
                                        bgcolor="#ffffff">

                                        <div id="module_1561538826095_0" class="hse-column hse-narrow">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; padding:10px 20px">
                                                            <div id="hs_cos_wrapper_module_15615388260943"
                                                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                data-hs-cos-general-type="widget"
                                                                data-hs-cos-type="module">
                                                                <div id="hs_cos_wrapper_module_15615388260943_"
                                                                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
                                                                    style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                    data-hs-cos-general-type="widget"
                                                                    data-hs-cos-type="rich_text">
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span style="color: #000000;"><strong>Total room
                                                                                charges</strong>:&nbsp;</span></p>

                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span style="color: #000000;"><strong>Grand
                                                                                Total:</strong></span></p>
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span style="color: #000000;"><strong>Total
                                                                                paid</strong>:&nbsp;</span></p>

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div id="module_1561538826095_1" class="hse-column hse-wide">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td
                                                            style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; padding:10px 20px">
                                                            <div id="hs_cos_wrapper_module_15615388260944"
                                                                class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                                                style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                data-hs-cos-general-type="widget"
                                                                data-hs-cos-type="module">
                                                                <div id="hs_cos_wrapper_module_15615388260944_"
                                                                    class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
                                                                    style="color: inherit; font-size: inherit; line-height: inherit;"
                                                                    data-hs-cos-general-type="widget"
                                                                    data-hs-cos-type="rich_text">
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span
                                                                            style="color: #000000;">{{ '$200' }}</span>
                                                                    </p>

                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span
                                                                            style="color: #000000;">{{ '$215' }}</span>
                                                                    </p>
                                                                    <p
                                                                        style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                                        <span
                                                                            style="color: #000000;">{{ '$165' }}</span>
                                                                    </p>

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                                <div id="module_1559905670819" class="hse-section hse-section-1-col "
                                    style="padding-left:10px; padding-right:10px">

                                    <div class="hse-column-container "
                                        style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#fff"
                                        bgcolor="#fff">

                                    </div>
                                </div>
                                <div id="section_1559905722350" class="hse-section hse-section-1-col "
                                    style="padding-left:10px; padding-right:10px">

                                    <div class="hse-column-container "
                                        style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#ffffff"
                                        bgcolor="#ffffff">

                                    </div>
                                </div>
                                <div id="section_1559902822428" class="hse-section hse-section-1-col "
                                    style="padding-left:10px; padding-right:10px">

                                    <div class="hse-column-container "
                                        style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#dbe8ff; padding-bottom:10px"
                                        bgcolor="#dbe8ff">

                                    </div>
                                </div>

                            </div>
        </div>
        <div id="section_1559902822428" class="hse-section hse-section-1-col "
            style="padding-left:10px; padding-right:10px">

            <div class="hse-column-container "
                style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#fbe3de; padding-bottom:10px"
                bgcolor="#fbe3de">
            </div>
        </div>
        <div id="section_1559905722350" class="hse-section hse-section-1-col "
            style="padding-left:10px; padding-right:10px">

            <div class="hse-column-container "
                style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#ffffff"
                bgcolor="#ffffff">
                <div id="column_1559905722350_0" class="hse-column ">
                    <table >
                        <tbody>
                            <tr>
                                <td
                                    style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; padding:20px 20px">
                                    <div id="hs_cos_wrapper_module_155990572615733"
                                        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                        style="color: inherit; font-size: inherit; line-height: inherit;"
                                        data-hs-cos-general-type="widget" data-hs-cos-type="module">
                                        <div id="hs_cos_wrapper_module_155990572615733_"
                                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
                                            style="color: inherit; font-size: inherit; line-height: inherit;"
                                            data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                                            <p style="margin:0;mso-line-height-rule:exactly; line-height:175%;">
                                                <span style="color: #000000;margin-top:0;margin:20px 0px;">We
                                                    at the Rift Valley Sports Club Nakuru have taken all
                                                    precautionary measures for COVID19 as per
                                                    the government guidelines. Please click on
                                                    the link to know what steps we’ve
                                                    implemented and the safety measures that you
                                                    need to follow for a safe stay with
                                                    us.</span> </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div id="section_1559905854294" class="hse-section hse-section-1-col hse-section-last "
            style="padding-left:10px; padding-right:10px; padding-bottom:20px">

            <div class="hse-column-container "
                style="min-width:280px; max-width:600px; width:100%; Margin-left:auto; Margin-right:auto; border-collapse:collapse; border-spacing:0; background-color:#0a0a0a"
                bgcolor="#0a0a0a">

                <div id="column_1559905854295_0" class="hse-column ">
                  <table>
                        <tbody>
                            <tr>
                                <td
                                    style="border-collapse:collapse; mso-line-height-rule:exactly; font-family:Arial, sans-serif; font-size:15px; color:#23496d; word-break:break-word; padding:10px 20px">
                                    <div id="hs_cos_wrapper_module_155990585686337"
                                        class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module"
                                        style="color: inherit; font-size: inherit; line-height: inherit;"
                                        data-hs-cos-general-type="widget" data-hs-cos-type="module">
                                        <div id="hs_cos_wrapper_module_155990585686337_"
                                            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
                                            style="color: inherit; font-size: inherit; line-height: inherit;"
                                            data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
                                            <p style="margin:0;mso-line-height-rule:exactly; text-align:center; font-size:14px; line-height:175%;"
                                                ><span style="color: #ffffff;"><strong>Email</strong>
                                                    : reservations@rvsc.co.ke</span><br>
                                                <span style="color: #ffffff;"><strong>Mobile</strong>
                                                    : +254717333799</span><br>
                                                <span style="color: #ffffff;"><strong>Address</strong>
                                                    : </span><span style="color: #ffffff;">P.O. BOX 1 -20100, Nakuru,
                                                    Club Road-off Kenyatta Avenue</span></p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        </div>
        </td>
        </tr>
        </tbody>
        </table>
        </div>


    </body>

</html>
